<div class="footer">
  <div class="container mx-auto text-center row text-white">
    <div class="footer1 col-md-4 mb-5">
      <h2>LOCATION</h2>
      <p>2215 John Daniel Drive</p>
      <p>Clark, MO 65243</p>
    </div>
    <div class="footer2 col-md-4  mb-5">
      <h2>AROUND THE WEB</h2>
      <div>
        <i class="fa-brands fa-facebook mx-2"></i>
        <i class="fa-brands fa-twitter mx-2"></i>
        <i class="fa-brands fa-linkedin-in mx-2"></i>
        <i class="fa-solid fa-globe mx-2"></i>
      </div>
    </div>
    <div class="footer3 col-md-4 mb-5">
      <h2>ABOUT FREELANCER</h2>
      <p>
        Freelance is a free to use, licensed Bootstrap theme created by Mahmoud
        Tarek
      </p>
    </div>
  </div>
</div>
<div class="footertwo text-center py-2 ">
    <p>Copyright © Your Website 2021</p>

</div>