<div class="about">
<h2 class="mt-4 fs-1 fw-bold h2star">ABOUT COMPONENT
 
    <i class="fa-solid fa-star "></i>

</h2>
<div class="row container mx-auto mt-5">
    <div class="col-md-6">
        <p >
            Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
    </div>
    <div class="col-md-6">
        <p >
            Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
    </div>
</div>
</div>