<nav class="navbarcomponent navbar navbar-expand-lg py-4">
  <div class="container">
    <a class="navbar-brand fs-2 fw-bold" href="#">START FRAMEWORK </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a
            class="navlink fw-semibold nav-link active"
            aria-current="page"
            routerLink="about"
            routerLinkActive="activelink"
            >ABOUT</a
          >
        </li>
        <li class="nav-item">
          <a class="navlink fw-semibold nav-link ms-4" routerLink="portfolio"  routerLinkActive="activelink"

            >PORTFOLIO</a
          >
        </li>
        <li class="nav-item">
          <a class="navlink fw-semibold nav-link ms-4" routerLink="contact"             routerLinkActive="activelink"

            >CONTACT</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
