<div class=" portfolio">
  <h2 class=" fs-1 fw-bold h2star">PORTFOLIO COMPONENT

 
    <i class="iconh2 fa-solid fa-star "></i>
</h2>

  <div class="g-4 row container  m-auto">
    <div class=" col-lg-4 col-md-6">
      <div class="portfolioimagediv">
        <img
          class="w-100"
          src="/6778399.jpg "
       
          alt=""
        />
        <i    data-bs-toggle="modal"
        data-bs-target="#exampleModal6"
         class="modalicon fa-solid fa-plus"></i>
      </div>
  
      <div
        class="modal fade"
        id="exampleModal6"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content bg-transparent p-0 border-0">
            <div class="modal-header border-bottom-0">
              <img
                class="portfoliomodal"
                src="/6778399.jpg "
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class=" col-lg-4 col-md-6">
      <div class="portfolioimagediv" >
        <img
          class="w-100"
          src="/watercolor-hand-painted-shoes-with-field-flower-bouquets-free-spirit-concept_1250153-4717.jpg"
    
          alt=""
        />
        <i    data-bs-toggle="modal"
        data-bs-target="#exampleModal3"
         class="modalicon fa-solid fa-plus"></i>
      </div>
  
      <div
        class="modal fade"
        id="exampleModal3"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content bg-transparent p-0 border-0">
            <div class="modal-header border-bottom-0">
              <img
              class="portfoliomodal"
                src="/watercolor-hand-painted-shoes-with-field-flower-bouquets-free-spirit-concept_1250153-4717.jpg"

                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class=" col-lg-4 col-md-6">
      <div class="portfolioimagediv" >
        <img
          class="w-100"
          src="/ai-generated-8523907_1280.png"
        
          alt=""
        />
        <i    data-bs-toggle="modal"
        data-bs-target="#exampleModal"
         class="modalicon fa-solid fa-plus"></i>
      </div>
  
      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content bg-transparent p-0 border-0">
            <div class="modal-header border-bottom-0">
              <img
              class="portfoliomodal"
              src="/ai-generated-8523907_1280.png"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class=" col-lg-4 col-md-6">
      <div class="portfolioimagediv">
        <img
          class="w-100"
          src="/cassette-3760022_1280.png"
         
          alt=""
        />
        <i    data-bs-toggle="modal"
        data-bs-target="#exampleModal2"
         class="modalicon fa-solid fa-plus"></i>
      </div>
  
      <div
        class="modal fade"
        id="exampleModal2"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content bg-transparent p-0 border-0">
            <div class="modal-header border-bottom-0">
              <img

              class="portfoliomodal"
              src="/cassette-3760022_1280.png"

                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
   
    <div class=" col-lg-4 col-md-6">
      <div class="portfolioimagediv">
        <img
          class="w-100"
          src="/small-poly-3310320_1280.jpg"
       
          alt=""
        />
        <i    data-bs-toggle="modal"
        data-bs-target="#exampleModal4"
         class="modalicon fa-solid fa-plus"></i>
      </div>
  
      <div
        class="modal fade"
        id="exampleModal4"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content bg-transparent p-0 border-0">
            <div class="modal-header border-bottom-0">
              <img
              class="portfoliomodal"

              src="/small-poly-3310320_1280.jpg"

                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class=" col-lg-4 col-md-6">
      <div class="portfolioimagediv">
        <img
          class="w-100"
          src="/2472783.jpg"
         
          alt=""
        />
        <i    data-bs-toggle="modal"
        data-bs-target="#exampleModal5"
         class="modalicon fa-solid fa-plus"></i>
      </div>
  
      <div
        class="modal fade"
        id="exampleModal5"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content bg-transparent p-0 border-0">
            <div class="modal-header border-bottom-0">
              <img
              class="portfoliomodal"

                src="/2472783.jpg"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
